.flex-row {
	display: flex;
	flex-wrap: wrap;

	&--center-content {
		align-items: center;
		justify-content: center;
	}

	&--even-spacing {
		justify-content: space-around;
		margin: 0 15px;
		align-items: center;

		@include atMedium {
			margin: 0 100px;
		}
	}
}